### Higher Order Functions

#### map

In [ ]:
## Square the items of a list
list(map(lambda x: x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [4]:
## odd/even labelling of list items
L = {5,6,8,10,12,11}
list(map(lambda x: 'even' if x%2==0 else 'odd', L))

['odd', 'even', 'even', 'even', 'odd', 'even']

In [7]:
## Fetch book names from a list of dict
books = [
    {
        'book': 'The Alchemist',
        'author': 'Paulo Coelho',
        'pages': 208
    },
    {
        'book': 'Atomic Habits',
        'author': 'James Clear',
        'pages': 320
    },
    {
        'book': 'Sapiens: A Brief History of Humankind',
        'author': 'Yuval Noah Harari',
        'pages': 498
    }
]

In [10]:
list(map(lambda books:books['book'], books))

['The Alchemist', 'Atomic Habits', 'Sapiens: A Brief History of Humankind']

In [11]:
list(map(lambda books:books['pages'], books))

[208, 320, 498]

In [13]:
list(map(lambda x:x['author'], books))

['Paulo Coelho', 'James Clear', 'Yuval Noah Harari']

#### filter

In [ ]:
## which numbers are greater than 50
list1 = [56, 40, 69, 80, 34, 27,67]
list(filter(lambda x: x>=50, list1))

[56, 69, 80, 67]

In [17]:
## which flowers start with 'a'
flowers = [
    "Rose",
    "Tulip",
    "Aster",
    "Orchid",
    "Amaryllis",
    "Lily",
    "Azalea",
    "Sunflower",
    "Anemone"
]

list(filter(lambda x:x.startswith('A'), flowers))

['Aster', 'Amaryllis', 'Azalea', 'Anemone']